= turbo_stream_from channel: SubscriptionsChannel
= javascript_include_tag "show_hidden"

h1 Welcome to Levitating's RSS Aggregator
h2 These are your subscriptions:
ul
    - for sub in @subscriptions
        == render "subscription", sub: sub

= link_to "New subscription", new_subscription_path
br
= link_to "Test webhook", webhook_path(Webhook.first)
