.subscription {
	padding-top: 7px;
}

.green {
	color: green;
}

.crimson {
	color: crimson;
}

pre {
	margin: 0;
}

summary {
	font-size: 20px;
}

a:visited {
	color: #797575;
}

a {
	color: black;
}

.small {
	font-size: 11px;
}

.overflow {
	display: none;
}

a.see_more {
	text-decoration: underline;
	cursor: pointer;
}
